<% layout('layout') -%>

<form class="form-horizontal" action="/create" method="post" accept-charset="utf-8">
  <div class="form-group">
    <div class="col-lg-12">
      <input type="text" class="form-control input-large" name="content" placeholder="Nothing behind me, everything ahead of me, as is ever so on the road">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4">
      <input type="text" class="form-control input-large" name="author" placeholder="Jack Kerouac"><br>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<% quotes.forEach( function ( quote ){ %>
  	<%= quote.author%>
    <a href="/edit/<%= quote._id %>"><%= quote.content %></a>
    <a  href="/destroy/<%= quote._id %>">Delete</a>
<% }); %>
