<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      <%- body %>

  </body>
</html>