<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  </head>
  <body>
  	<div class="container">
  		<div class="navbar navbar-fixed-top navbar-black navbar-center">
			<a href="#" class="header__title"><span class="glyphicon glyphicon-leaf"></span> Quote</a>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<%- body %>
			</div>			
		</div>
		
  		<div class="navbar navbar-fixed-bottom navbar-black">
		</div>
	</div>

  </body>
</html>